*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  background: #EDEEF7;
  color: #1B2021;
}
body::-webkit-scrollbar {
  width: 0.8rem;
  background-color: #0a193198;
}
body::-webkit-scrollbar-thumb {
  background-color: #0a1931ec;
}

.contenedor {
  width: 90%;
  margin: auto;
  max-width: 1400px;
}

/*************************************************/
header {
  background: -webkit-gradient(linear, left top, left bottom, from(#1856bb78), to(#1856bb50)), url(../img/fondo.jpg);
  background: linear-gradient(#1856bb78, #1856bb50), url(../img/fondo.jpg);
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
header .nav {
  background: #0a1931ec;
  color: #EDEEF7;
  position: fixed;
  width: 100%;
  z-index: 2;
}
header .nav .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.9rem 0;
}
header .nav .contenedor .logo {
  padding-right: 0.4rem;
}
header .nav .contenedor .logo p {
  font-size: 1.4rem;
}
@media screen and (max-width: 383px) {
  header .nav .contenedor .logo {
    padding-right: 1rem;
    padding-bottom: 0.4rem;
  }
}
header .nav .contenedor .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
header .nav .contenedor .menu a {
  color: #EDEEF7;
  text-decoration: none;
  font-size: 1rem;
}
header .nav .contenedor .menu a:hover {
  text-decoration: none;
  color: #2940D3;
}
@media screen and (max-width: 383px) {
  header .nav .contenedor {
    padding: 0.9rem 0 0.4rem 0;
  }
}
header .header .contenedor {
  padding: 10.5rem 0 7rem 0;
}
header .header .contenedor .header__texto {
  margin: auto;
  width: 62%;
  background: #0a1931c7;
  color: #EDEEF7;
  padding: 1.5rem;
  border-radius: 1.5rem;
}
header .header .contenedor .header__texto .header__titulo {
  text-align: center;
  margin-bottom: 0.75rem;
}
header .header .contenedor .header__texto .header__titulo h1 {
  font-size: 2.2rem;
}
header .header .contenedor .header__texto .header__parrafo p {
  font-size: 1.15rem;
  line-height: 1.8rem;
}
@media screen and (max-width: 800px) {
  header .header .contenedor .header__texto {
    width: 75vw;
  }
}

/*************************************************/
.sobre,
.proyectos,
.conocimientos {
  width: 100%;
}

.proyectos__texto,
.conocimientos__texto,
.sobre__texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.35rem;
}

/*************************************************/
.sobre .contenedor {
  padding: 4.75rem 0 0 0;
  text-align: center;
}
.sobre .contenedor .sobre__texto {
  width: 75%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.25rem;
}
.sobre .contenedor .sobre__texto h2 {
  font-size: 1.6rem;
}
.sobre .contenedor .sobre__texto p {
  font-size: 1.2rem;
  line-height: 1.6rem;
}
.sobre .contenedor .sobre__texto p {
  font-size: 1.3rem;
  line-height: 1.8rem;
}

/*************************************************/
.conocimientos .contenedor {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 1.7rem;
}
.conocimientos .contenedor .conocimientos__texto {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.25rem;
}
.conocimientos .contenedor .conocimientos__texto h2 {
  font-size: 1.6rem;
}
.conocimientos .contenedor .conocimientos__texto p {
  font-size: 1.2rem;
  line-height: 1.6rem;
}

/*************************************************/
.proyectos .contenedor {
  padding: 5rem 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 1.7rem;
}
.proyectos .contenedor .proyectos__texto {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  min-width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.25rem;
}
.proyectos .contenedor .proyectos__texto h2 {
  font-size: 1.6rem;
}
.proyectos .contenedor .proyectos__texto p {
  font-size: 1.2rem;
  line-height: 1.6rem;
}
.proyectos .contenedor .proyectos_ {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  min-width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.1rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.proyectos .contenedor .proyectos_ .proyecto {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 240px;
}
.proyectos .contenedor .proyectos_ .proyecto img {
  width: 100%;
  margin-bottom: 0.5rem;
}
.proyectos .contenedor .proyectos_ .proyecto .proyecto__texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.proyectos .contenedor .proyectos_ .proyecto .proyecto__texto h2 {
  font-size: 1.6rem;
}
.proyectos .contenedor .proyectos_ .proyecto .proyecto__texto p {
  font-size: 1.2rem;
  line-height: 1.6rem;
}
.proyectos .contenedor .proyectos_ .proyecto .proyecto__texto h3 {
  font-size: 1.45rem;
}
.proyectos .contenedor .proyectos_ .proyecto .proyecto__texto p {
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.proyectos .contenedor .proyectos_ .proyecto .proyecto__texto .botones {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
  padding-top: 1rem;
}
.proyectos .contenedor .proyectos_ .proyecto .proyecto__texto .botones .ver,
.proyectos .contenedor .proyectos_ .proyecto .proyecto__texto .botones .github {
  padding: 0.6rem 1rem;
  color: #EDEEF7;
  text-decoration: none;
  background: #0a1931ec;
  border-radius: 1rem;
  font-size: 1.2rem;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.proyectos .contenedor .proyectos_ .proyecto .proyecto__texto .botones .ver:hover,
.proyectos .contenedor .proyectos_ .proyecto .proyecto__texto .botones .github:hover {
  background: #2940D3;
}

/*************************************************/
.contact {
  padding: 4rem 0 0 0;
  width: 100%;
}
.contact .form {
  width: 60%;
  margin: 0 auto;
  color: #1B2021;
  padding: 1.2rem;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}
.contact .form .tag {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.65rem;
}
.contact .form label {
  font-size: 1.3rem;
  margin-bottom: 0.8rem;
  font-weight: 400;
}
.contact .form input,
.contact .form textarea {
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1.15rem;
  padding: 0.45rem;
  background: rgba(251, 250, 250, 0.904);
}
.contact .form input:focus,
.contact .form textarea:focus {
  outline: 2px solid #2940D3;
}
.contact .form textarea {
  min-height: 6rem;
  max-height: 20rem;
  max-width: 100%;
  min-width: 100%;
}
.contact .form button {
  margin: auto;
  padding: 0.55rem 0.75rem;
  background: #0a1935F3;
  color: #EDEEF7;
  font-size: 1.15rem;
}
.contact .form button:hover {
  cursor: pointer;
  background: #2940D3;
}
.contact .form .boton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.contact .form:hover, .contact .form:focus {
  background: #0c203fd3;
  color: #EDEEF7;
}

/*************************************************/
.footer {
  margin-top: 4rem;
  padding: 1.2rem 0;
  background: #1B2021;
  color: #EDEEF7;
}
.footer .footer__texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.4rem;
  font-size: 1.2rem;
}

/*************************************************/
@media screen and (max-width: 550px) {
  :root {
    font-size: 14px;
  }

  .header__texto {
    width: 78%;
  }

  #form {
    min-width: 90%;
  }
}
@media screen and (max-width: 505px) {
  :root {
    font-size: 13px;
  }

  .proyectos_ {
    min-width: 90%;
    max-width: 100%;
  }

  .proyecto {
    min-width: 215px;
  }
}