/**************************************************************************/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #1E212D;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #F1F1F1;
}

.contenedor {
  width: 90%;
  max-width: 1300px;
  margin: auto;
}

/**************************************************************************/
.menu {
  position: fixed;
  width: 100%;
  z-index: 10;
}
.menu .contenedor {
  position: static;
  z-index: 9;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(30, 33, 45, 0.75);
  width: 93%;
  margin: 1.12rem auto 0 auto;
  border-radius: 3rem;
  -webkit-box-shadow: 17px 17px 35px 7px black;
          box-shadow: 17px 17px 35px 7px black;
}
.menu .contenedor .logo h2 {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #CE1212;
  position: absolute;
  top: calc(50% - 0.8rem);
}
.menu .contenedor .logo {
  position: relative;
  height: 2rem;
}
.menu .contenedor .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.1rem;
}
.menu .contenedor .nav a {
  font-size: 1.1rem;
  color: #F1F1F1;
  text-decoration: none;
  opacity: 80%;
}
.menu .contenedor .nav a:hover {
  opacity: 100%;
}

/**************************************************************************/
.inicio {
  padding: 14rem 0 6rem 0;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#00000067), to(#43434363)), url(../img/expediente-warren.jpg) no-repeat center center fixed;
  background: linear-gradient(to right, #00000067, #43434363), url(../img/expediente-warren.jpg) no-repeat center center fixed;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.inicio .contenedor {
  width: 80%;
  margin: auto;
}
.inicio .contenedor .texto {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1.5rem;
  gap: 0.8rem;
  color: rgba(241, 241, 241, 0.9);
}
.inicio .contenedor .texto .titulo h2 {
  font-size: 2.5rem;
}
.inicio .contenedor .texto .parrafo p {
  font-size: 1.15rem;
  line-height: 1.75rem;
}
.inicio .contenedor .botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 1.5rem;
}
.inicio .contenedor .botones .boton {
  background: rgba(0, 0, 0, 0.5);
  color: #F1F1F1;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  padding: 1rem 1.8rem;
}
.inicio .contenedor .botones .boton:hover {
  background: rgba(241, 241, 241, 0.75);
  color: #1E212D;
}

/**************************************************************************/
.peliculas2 {
  padding: 5rem 0;
}
.peliculas2 .titulo {
  font-size: 1.8rem;
  margin-bottom: 2.1rem;
}
.peliculas2 .peliculas__contenedor {
  width: 90%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.5rem 1fr 1.5rem 1fr 1.5rem 1fr 1.5rem 1fr;
  grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-gap: 1.5rem;
}
.peliculas2 .peliculas__contenedor > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.peliculas2 .peliculas__contenedor > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.peliculas2 .peliculas__contenedor > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.peliculas2 .peliculas__contenedor > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}
.peliculas2 .peliculas__contenedor > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
}
.peliculas2 .peliculas__contenedor .pelicula {
  overflow: hidden;
  position: relative;
  border-radius: 1rem;
  z-index: 2;
  -webkit-box-shadow: 11px 10px 11px 1px rgba(0, 0, 0, 0.76);
          box-shadow: 11px 10px 11px 1px rgba(0, 0, 0, 0.76);
}
.peliculas2 .peliculas__contenedor .pelicula img {
  width: 100%;
}
.peliculas2 .peliculas__contenedor .pelicula .parrafo {
  padding: 0.8rem;
  color: #F1F1F1;
  position: absolute;
  bottom: 0;
  z-index: 3;
}
.peliculas2 .peliculas__contenedor .pelicula .parrafo span {
  position: relative;
  top: 35rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 4;
  font-size: 0.8rem;
  line-height: 0.2rem;
}
.peliculas2 .peliculas__contenedor .pelicula:hover span {
  top: 0;
}
.peliculas2 .peliculas__contenedor .pelicula:hover img {
  -webkit-filter: blur(6.18px) brightness(0.51) contrast(1.19) grayscale(0.5);
          filter: blur(6.18px) brightness(0.51) contrast(1.19) grayscale(0.5);
}

/**************************************************************************/
/**************************************************************************/
@media screen and (max-width: 1000px) {
  body {
    font-size: 15px;
  }
}
@media screen and (max-width: 900px) {
  .peliculas2 .peliculas__contenedor {
    -ms-grid-columns: 1fr 1.5rem 1fr 1.5rem 1fr;
    grid-template-columns: repeat(3, 1fr);
  }

  .inicio .contenedor .texto {
    width: 75%;
  }
  .inicio .contenedor .texto .titulo h2 {
    font-size: 2.25rem;
  }
  .inicio .contenedor .texto .parrafo p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
@media screen and (max-width: 580px) {
  .peliculas2 .peliculas__contenedor {
    gap: 1rem;
  }
}
@media screen and (max-width: 500px) {
  body {
    font-size: 12px;
  }
}
@media screen and (max-width: 432px) {
  body {
    font-size: 11px;
  }

  .inicio {
    padding: 10rem 0 4rem 0;
  }
  .inicio .contenedor {
    width: 80%;
    margin: auto;
  }
  .inicio .contenedor .texto {
    width: 100%;
  }
}