* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #F6F6F6;
  font-size: 14px;
  color: #1B1A17;
}

.contenedor {
  width: 90%;
  margin: auto;
  max-width: 1300px;
}

/*************************************************************************************/
nav {
  background: #A03C78;
  color: #F6F6F6;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}
nav .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
}
nav .contenedor .logo p {
  font-size: 1.4rem;
}
nav .contenedor .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.75rem;
}
nav .contenedor .menu a {
  font-size: 1rem;
  text-decoration: none;
  color: #F6F6F6;
}
nav .contenedor .menu a:hover {
  color: #FFC107;
}

/*************************************************************************************/
header {
  width: 100%;
  background: #E7E6E1;
  background: -webkit-gradient(linear, righ, from(#EEEEEE), to(#E1E8EB));
  background: linear-gradient(to righ, #EEEEEE, #E1E8EB);
}
header .contenedor {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 7.5rem 0 2rem 0rem;
}
header .contenedor .info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  gap: 0.8rem;
  padding: 0 4rem 2rem 4rem;
}
header .contenedor .info h2 {
  font-size: 3rem;
  font-weight: 600;
}
header .contenedor .info p {
  font-size: 1.4rem;
}
@media screen and (max-width: 969px) {
  header .contenedor .info h2 {
    font-size: 2rem;
  }
  header .contenedor .info p {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 528px) {
  header .contenedor .info {
    padding: 0 2rem 1.5rem 2rem;
  }
  header .contenedor .info h2 {
    font-size: 0.5rem;
  }
  header .contenedor .info p {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 405px) {
  header .contenedor .info p {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 455px) {
  header .contenedor .info {
    min-width: 250px;
  }
}
header .contenedor .foto {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .contenedor .foto img {
  width: 88%;
}
@media screen and (max-width: 455px) {
  header .contenedor .foto {
    min-width: 250px;
  }
}

/*************************************************************************************/
section {
  width: 100%;
}
section .contenedor {
  padding: 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row column;
          flex-direction: row column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
section .contenedor .elemento {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 0.75rem;
  padding: 1.2rem;
  min-width: 335px;
  -webkit-box-shadow: 6px 6px 9px 2px rgba(0, 0, 0, 0.4);
          box-shadow: 6px 6px 9px 2px rgba(0, 0, 0, 0.4);
}
section .contenedor .elemento .img {
  width: 100%;
  border-bottom: 2px solid #A03C78;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 18rem;
}
section .contenedor .elemento .img img {
  width: 75%;
}
section .contenedor .elemento .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  padding-top: 1rem;
}
section .contenedor .elemento .info h2 {
  font-size: 1.3rem;
}
section .contenedor .elemento .info p {
  font-size: 1rem;
}
section .contenedor .elemento .abajo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1rem;
}
section .contenedor .elemento .abajo p {
  font-size: 1.15rem;
}
section .contenedor .elemento .abajo a {
  color: #1B1A17;
  text-decoration: none;
  font-size: 1rem;
}
section .contenedor .elemento .abajo a:hover {
  color: #FFC107;
}
@media screen and (max-width: 455px) {
  section .contenedor .elemento {
    min-width: 250px;
  }
}

/*************************************************************************************/
.elementos .contenedor {
  padding-bottom: 2rem;
}
.elementos .contenedor .elemento {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.elementos .contenedor .elemento .foto {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  min-height: 100%;
  min-width: 320px;
}
@media screen and (max-width: 799px) {
  .elementos .contenedor .elemento .foto {
    height: 20rem;
  }
}
@media screen and (max-width: 455px) {
  .elementos .contenedor .elemento .foto {
    min-width: 250px;
  }
}
.elementos .contenedor .elemento .info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  background: #E7E6E1;
  padding: 3rem 3rem 1.5rem 3rem;
  position: relative;
  min-width: 400px;
}
.elementos .contenedor .elemento .info .fecha p {
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  font-size: 1rem;
}
.elementos .contenedor .elemento .info .titulo h2 {
  font-size: 1.25rem;
  font-weight: 600;
}
.elementos .contenedor .elemento .info .leyenda h3 {
  font-style: italic;
  font-size: 1.1rem;
  font-weight: 200;
  color: #40394A;
}
.elementos .contenedor .elemento .info .parrafo p {
  font-size: 1rem;
  line-height: 1.5rem;
  padding-bottom: 1rem;
}
.elementos .contenedor .elemento .info .botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
}
.elementos .contenedor .elemento .info .botones a {
  padding: 0.8rem 1.2rem;
  border-radius: 1.2rem;
  background: #A03C78;
  cursor: pointer;
  color: #F6F6F6;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 2px solid #A03C78;
}
.elementos .contenedor .elemento .info .botones a:hover {
  background: #FFC107;
  border: 2px solid #FFC107;
}
.elementos .contenedor .elemento .info .botones .comprar {
  border: 2px solid #A03C78;
  background: none;
  color: #A03C78;
}
.elementos .contenedor .elemento .info .botones .comprar:hover {
  border: 2px solid #FFC107;
  color: #FFC107;
  background: none;
}
@media screen and (max-width: 455px) {
  .elementos .contenedor .elemento .info {
    min-width: 250px;
  }
}
.elementos .contenedor .elemento .foto1 {
  background: url(../img/foto1-min.jpg) no-repeat center center;
  background-size: cover;
}
.elementos .contenedor .elemento .foto2 {
  background: url(../img/foto3-min.jpg) no-repeat center center;
  background-size: cover;
}
@media screen and (max-width: 799px) {
  .elementos .contenedor .elemento:first-child {
    margin-bottom: 1.5rem;
  }
}

/*************************************************************************************/
@media screen and (max-width: 1000px) {
  body {
    font-size: 15px;
  }
}
@media screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
}
