$negro: #231E23;
$blanco: #EEEEEE;
$gris: #F0F0E4;
$PColor: #DB5F29;
$SColor: #7B3C3C;
@mixin info {
    display: flex;
    flex-direction: column;

}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: $blanco;
    color: $negro;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;

    &::-webkit-scrollbar {
        width: 0.8rem;
        background-color: $gris;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $PColor;
    }
}
.contenedor {
    width: 90%;
    margin: auto;
    max-width: 1300px;
}

/***********************************************************************************/

nav {    
    .arriba {
        background: $PColor;
        color: $blanco;

        .contenedor {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.9rem 0;
            gap: 1.2rem;
            position: sticky;
            top: 0;

            h2 {
                font-size: 1.4rem;
            }
            p {
                font-size: 1.1rem;
                text-align: right;
            }

            @media screen and (max-width: 415px) {
                flex-direction: column;
                gap: 0.75rem;
            }
        }
    }
}

/***********************************************************************************/

.abajo {
    background: $SColor;
    position: sticky;
    top: 0;

    .contenedor {
        .menu {
            display: flex;
            justify-content: space-between;
            padding: 0.8rem 0;

            a {
                color: $blanco;
                text-decoration: none;

                &:hover {
                    color: $PColor;
                }
            }
        }
    }
}

/***********************************************************************************/

header {
    background: $gris;

    .contenedor {
        .contenido {
            display: flex;
            min-height: 90vh;
            align-items: center;
            flex-wrap: wrap;
            gap: 1.2rem;
            color: $negro;

            .info {
                @include info;
                flex: 1;
                min-width: 220px;

                .p {
                    display: block;
                    font-size: 1.4rem;
                    font-weight: 400;
                }
                .h1 {
                    font-size: 2.2rem;
                }

                @media screen and (max-width: 340px) {
                    min-width: 150px;
                }
            }
            .foto {
                flex: 1;
                min-width: 350px;
                height: 25rem;
                background: url(../img/foto3.jpg) no-repeat center center;
                background-size: cover;

                @media screen and (max-width: 560px) {
                    min-width: 300px;
                }
                @media screen and (max-width: 340px) {
                    min-width: 260px;
                }
            }

            @media screen and (max-width: 654px) {
                display: grid;
                grid-template-columns: 1;
                grid-template-rows: auto;
                gap: 0;
            }            
        }
    }
}

/***********************************************************************************/

section {
    margin: 4rem 0;

    .contenedor {
        .elementos {
            .elemento {
                display: flex;
                flex-wrap: wrap;
                background: $gris;

                .info {
                    flex: 1;
                    @include info;
                    padding: 2.5rem;
                    gap: 1rem;
                    min-width: 32rem;

                    h2 {
                        font-size: 1.8rem;
                    }
                    h3 {
                        font-size: 0.9;
                        font-style: italic;
                        font-weight: 200;
                    }
                    p {
                        font-size: 1rem;
                        line-height: 1.5rem;
                    }
                    span {
                        display: block;
                        text-align: center;
                        font-style: italic;
                        font-size: 1.15rem;
                        padding-top: 1rem;
                    }

                    @media screen and (max-width: 560px) {
                        min-width: 120px;
                    }
                    @media screen and (max-width: 510px) {
                        min-width: 250px;
                    }
                }
                .foto {
                    flex: 1;
                    height: 100%;
                    min-height: 30rem;
                    min-width: 28rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 85%;
                        height: 85%;
                    }

                    @media screen and (max-width: 1066px) {
                        padding: 1.5rem;

                        img {
                            height: auto;
                            width: 80%;
                        }
                    }
                    @media screen and (max-width: 580px) {
                        min-height: auto;

                        img {
                            width: 92%;
                        }
                    }
                    @media screen and (max-width: 510px) {
                        min-width: 250px;
                    }
                }
            }
        }
    }
}

/***********************************************************************************/

.contacto {
    background: $negro;
    color: $blanco;

    .contenedor {
        display: flex;
        flex-wrap: wrap;
        gap: 1.2rem;
        padding: 1.8rem 0;

        .direccion,
        .telefono,
        .mail {
            flex: 1;
            min-width: 245px;
            display: flex;
            flex-wrap: nowrap;
            gap: 0.8rem;

            i {
                font-size: 1.2rem
            }
            .info {
                @include info;
                gap: 0.45rem;

                p {
                    line-height: 1.45rem;
                }
            }
        }
    }
}

/***********************************************************************************/

footer {
    background: $negro;
    color: $blanco;

    .contenedor {
        text-align: center;
        padding: 0.75rem 0;

        p {
            font-size: 1.3rem;
        }
    }
}

/***********************************************************************************/