*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #EEEEEE;
  color: #231E23;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
body::-webkit-scrollbar {
  width: 0.8rem;
  background-color: #F0F0E4;
}
body::-webkit-scrollbar-thumb {
  background-color: #DB5F29;
}

.contenedor {
  width: 90%;
  margin: auto;
  max-width: 1300px;
}

/***********************************************************************************/
nav .arriba {
  background: #DB5F29;
  color: #EEEEEE;
}
nav .arriba .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.9rem 0;
  gap: 1.2rem;
  position: sticky;
  top: 0;
}
nav .arriba .contenedor h2 {
  font-size: 1.4rem;
}
nav .arriba .contenedor p {
  font-size: 1.1rem;
  text-align: right;
}
@media screen and (max-width: 415px) {
  nav .arriba .contenedor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.75rem;
  }
}

/***********************************************************************************/
.abajo {
  background: #7B3C3C;
  position: sticky;
  top: 0;
}
.abajo .contenedor .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.8rem 0;
}
.abajo .contenedor .menu a {
  color: #EEEEEE;
  text-decoration: none;
}
.abajo .contenedor .menu a:hover {
  color: #DB5F29;
}

/***********************************************************************************/
header {
  background: #F0F0E4;
}
header .contenedor .contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 90vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.2rem;
  color: #231E23;
}
header .contenedor .contenido .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 220px;
}
header .contenedor .contenido .info .p {
  display: block;
  font-size: 1.4rem;
  font-weight: 400;
}
header .contenedor .contenido .info .h1 {
  font-size: 2.2rem;
}
@media screen and (max-width: 340px) {
  header .contenedor .contenido .info {
    min-width: 150px;
  }
}
header .contenedor .contenido .foto {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 350px;
  height: 25rem;
  background: url(../img/foto3.jpg) no-repeat center center;
  background-size: cover;
}
@media screen and (max-width: 560px) {
  header .contenedor .contenido .foto {
    min-width: 300px;
  }
}
@media screen and (max-width: 340px) {
  header .contenedor .contenido .foto {
    min-width: 260px;
  }
}
@media screen and (max-width: 654px) {
  header .contenedor .contenido {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1;
    grid-template-columns: 1;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    gap: 0;
  }
  header .contenedor .contenido > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
}

/***********************************************************************************/
section {
  margin: 4rem 0;
}
section .contenedor .elementos .elemento {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #F0F0E4;
}
section .contenedor .elementos .elemento .info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2.5rem;
  gap: 1rem;
  min-width: 32rem;
}
section .contenedor .elementos .elemento .info h2 {
  font-size: 1.8rem;
}
section .contenedor .elementos .elemento .info h3 {
  font-size: 0.9;
  font-style: italic;
  font-weight: 200;
}
section .contenedor .elementos .elemento .info p {
  font-size: 1rem;
  line-height: 1.5rem;
}
section .contenedor .elementos .elemento .info span {
  display: block;
  text-align: center;
  font-style: italic;
  font-size: 1.15rem;
  padding-top: 1rem;
}
@media screen and (max-width: 560px) {
  section .contenedor .elementos .elemento .info {
    min-width: 120px;
  }
}
@media screen and (max-width: 510px) {
  section .contenedor .elementos .elemento .info {
    min-width: 250px;
  }
}
section .contenedor .elementos .elemento .foto {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  min-height: 30rem;
  min-width: 28rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section .contenedor .elementos .elemento .foto img {
  width: 85%;
  height: 85%;
}
@media screen and (max-width: 1066px) {
  section .contenedor .elementos .elemento .foto {
    padding: 1.5rem;
  }
  section .contenedor .elementos .elemento .foto img {
    height: auto;
    width: 80%;
  }
}
@media screen and (max-width: 580px) {
  section .contenedor .elementos .elemento .foto {
    min-height: auto;
  }
  section .contenedor .elementos .elemento .foto img {
    width: 92%;
  }
}
@media screen and (max-width: 510px) {
  section .contenedor .elementos .elemento .foto {
    min-width: 250px;
  }
}

/***********************************************************************************/
.contacto {
  background: #231E23;
  color: #EEEEEE;
}
.contacto .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.2rem;
  padding: 1.8rem 0;
}
.contacto .contenedor .direccion,
.contacto .contenedor .telefono,
.contacto .contenedor .mail {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 245px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0.8rem;
}
.contacto .contenedor .direccion i,
.contacto .contenedor .telefono i,
.contacto .contenedor .mail i {
  font-size: 1.2rem;
}
.contacto .contenedor .direccion .info,
.contacto .contenedor .telefono .info,
.contacto .contenedor .mail .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.45rem;
}
.contacto .contenedor .direccion .info p,
.contacto .contenedor .telefono .info p,
.contacto .contenedor .mail .info p {
  line-height: 1.45rem;
}

/***********************************************************************************/
footer {
  background: #231E23;
  color: #EEEEEE;
}
footer .contenedor {
  text-align: center;
  padding: 0.75rem 0;
}
footer .contenedor p {
  font-size: 1.3rem;
}

/***********************************************************************************/