*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #EEEEEE;
  color: #231E23;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar {
  width: 0.8rem;
  background-color: #F0F0E4;
}

body::-webkit-scrollbar-thumb {
  background-color: #DB5F29;
}

.contenedor {
  width: 90%;
  margin: auto;
  max-width: 1300px;
}

/***********************************************************************************/
nav .arriba {
  background: #DB5F29;
  color: #EEEEEE;
}

nav .arriba .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.9rem 0;
  gap: 1.2rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

nav .arriba .contenedor a {
  font-size: 1.4rem;
  text-decoration: none;
  color: #EEEEEE;
}

nav .arriba .contenedor a:hover {
  color: #7B3C3C;
}

nav .arriba .contenedor p {
  font-size: 1.1rem;
  text-align: right;
}

@media screen and (max-width: 415px) {
  nav .arriba .contenedor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.75rem;
  }
}

/***********************************************************************************/
.abajo {
  background: #7B3C3C;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.abajo .contenedor .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.8rem 0;
}

.abajo .contenedor .menu a {
  color: #EEEEEE;
  text-decoration: none;
}

.abajo .contenedor .menu a:hover {
  color: #DB5F29;
}

/***********************************************************************************/
.casa {
  padding: 4rem 0;
}

.casa .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #F0F0E4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.casa .contenedor .info {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.55rem;
}

.casa .contenedor .info h2 {
  font-size: 1.45rem;
}

.casa .contenedor .info p {
  font-size: 1.05rem;
}

.casa .contenedor .fotos {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.casa .contenedor .fotos img {
  width: 95%;
}

/***********************************************************************************/
.entrada .contenedor .fotos img {
  width: 100%;
}

/***********************************************************************************/
.contacto {
  margin-top: 4rem;
  background: #231E23;
  color: #EEEEEE;
}

.contacto .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.2rem;
  padding: 1.8rem 0;
}

.contacto .contenedor .direccion,
.contacto .contenedor .telefono,
.contacto .contenedor .mail {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 245px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0.8rem;
}

.contacto .contenedor .direccion i,
.contacto .contenedor .telefono i,
.contacto .contenedor .mail i {
  font-size: 1.2rem;
}

.contacto .contenedor .direccion .info,
.contacto .contenedor .telefono .info,
.contacto .contenedor .mail .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.45rem;
}

.contacto .contenedor .direccion .info p,
.contacto .contenedor .telefono .info p,
.contacto .contenedor .mail .info p {
  line-height: 1.45rem;
}

/***********************************************************************************/
footer {
  background: #231E23;
  color: #EEEEEE;
}

footer .contenedor {
  text-align: center;
  padding: 0.75rem 0;
}

footer .contenedor p {
  font-size: 1.3rem;
}

/***********************************************************************************/
@media screen and (max-width: 640px) {
  body {
    font-size: 14px;
  }
}
/*# sourceMappingURL=la-casa.css.map */