$negro: #231E23;
$blanco: #EEEEEE;
$gris: #F0F0E4;
$PColor: #DB5F29;
$SColor: #7B3C3C;
@mixin info {
    display: flex;
    flex-direction: column;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: $blanco;
    color: $negro;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;

    &::-webkit-scrollbar {
        width: 0.8rem;
        background-color: $gris;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $PColor;
    }
}
.contenedor {
    width: 90%;
    margin: auto;
    max-width: 1300px;
}

/***********************************************************************************/

nav {
    .arriba {
        background: $PColor;
        color: $blanco;

        .contenedor {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.9rem 0;
            gap: 1.2rem;
            position: sticky;
            top: 0;

            a {
                font-size: 1.4rem;
                text-decoration: none;
                color: $blanco;

                &:hover {
                    color: $SColor;
                }
            }
            p {
                font-size: 1.1rem;
                text-align: right;
            }

            @media screen and (max-width: 415px) {
                flex-direction: column;
                gap: 0.75rem;
            }
        }
    }
}

/***********************************************************************************/

.abajo {
    background: $SColor;
    position: sticky;
    top: 0;

    .contenedor {
        .menu {
            display: flex;
            justify-content: space-between;
            padding: 0.8rem 0;

            a {
                color: $blanco;
                text-decoration: none;

                &:hover {
                    color: $PColor;
                }
            }
        }
    }
}

/***********************************************************************************/

.casa {
    padding: 4rem 0;

    .contenedor {
        display: flex;
        flex-wrap: wrap;
        background: $gris;
        align-items: center;

        .info {
            flex: 2;
            padding: 1.5rem;
            @include info;
            gap: 0.55rem;

            h2 {
                font-size: 1.45rem;
            }
            p {
                font-size: 1.05rem;
            }
        }
        .fotos {
            flex: 1;
            text-align: center;

            img {
                width: 95%;
            }
        }
    }
}

/***********************************************************************************/

.entrada {
    .contenedor {
        
        .fotos {
            img {
                width: 100%;
            }
        }
    }
}

/***********************************************************************************/

.contacto {
    margin-top: 4rem;
    background: $negro;
    color: $blanco;

    .contenedor {
        display: flex;
        flex-wrap: wrap;
        gap: 1.2rem;
        padding: 1.8rem 0;

        .direccion,
        .telefono,
        .mail {
            flex: 1;
            min-width: 245px;
            display: flex;
            flex-wrap: nowrap;
            gap: 0.8rem;

            i {
                font-size: 1.2rem
            }
            .info {
                @include info;
                gap: 0.45rem;

                p {
                    line-height: 1.45rem;
                }
            }
        }
    }
}

/***********************************************************************************/

footer {
    background: $negro;
    color: $blanco;

    .contenedor {
        text-align: center;
        padding: 0.75rem 0;

        p {
            font-size: 1.3rem;
        }
    }
}

/***********************************************************************************/

@media screen and (max-width: 640px) {
    body {
        font-size: 14px;
    }
}